body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: $primary-font;
}

header {
  width: 100%;
}

main {
  flex-grow: 1;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.address {
  font-style: normal;
}

.is-hidden {
  display: none !important;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 200;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--backdrop-overlay);

  overflow-y: scroll;
  opacity: 1;
  transition: visibility 250ms var(--primary-cubic), opacity 250ms var(--primary-cubic),
    pointer-events 250ms var(--primary-cubic);
}
