@import './utils/variables';
@import './utils/visually-hidden';
@import './utils/mixins';

@import './base/common';
@import './base/container';

@import './components/button';
@import './components/backdrop';
@import './components/modal-card';
@import './components/sosial-links';
@import './components/backdrop';
@import './components/team-modal';
@import './components/loader';
@import './components/movie-modal';

@import './layout/header';
@import './layout/card-section';
@import './layout/footer';
@import './layout/team';
