// colors
$primary-color: #ffffff;
$secondary-color: #000000;

$acent-color: #ff6b01;
$background-color: #f7f7f7;

$footer-text-color: #545454;
$modal-text-color: #8c8c8c;

// fonts
$primary-font: 'Roboto', sans-serif;
