// colors
$primary-color: #ffffff;
$secondary-color: #000000;

$accent-color: #ff6b01;
$background-color: #f7f7f7;

$footer-text-color: #545454;
$modal-text-color: #8c8c8c;
$modal-input-color: rgba(33, 33, 33, 0.2);
$error-text-color: #ff001b;

// fonts
$primary-font: 'Roboto', sans-serif;
