<section class="card-section">
  <div class="container" id="js-container">
    <ul class="gallery list"></ul>

    <div class="loader card-section__loader is-hidden" id="cardSectionLoader">
      <div class="inner one"></div>
      <div class="inner two"></div>
      <div class="inner three"></div>
    </div>

    <button type="button" class="btn" data-action="load-more">
      <span class="spinner is-hidden">
        <div class="loader">
          <div class="inner one"></div>
          <div class="inner two"></div>
          <div class="inner three"></div>
        </div>
      </span>

      <span class="label">Show more</span>
    </button>

    <button type="button" class="btn" data-action="load-more-mylib">
      <span class="spinner is-hidden">
        <div class="loader">
          <div class="inner one"></div>
          <div class="inner two"></div>
          <div class="inner three"></div>
        </div>
      </span>

      <span class="label">Show more</span>
    </button>

</section>
