<footer class="footer">
  <div class="footer__container">
    <p class="footer__text-copyright">&#169; 2021 &#10072; All Rights Reserved &#10072;</p>

    <div class="footer__box-developed">
      <p class="footer__text-developed">
        Developed with<span
          ><svg class="footer__icon-heart" width="14" height="12.8">
            <use href="./images/sprite.svg#icon-heart"></use></svg></span
        >by
      </p>

      <a class="footer__link" id="footer__link" href="">GoIT Students</a>
    </div>
  </div>
</footer>
