<header class="header">
  <div class="container">
    <div class="header__container"></div>
    <div class="wrapper">
      <img class="icon-film" src="./images/film-icon.png" alt="film frame" />
      <h1 class="logo-img visually-hidden">Filmoteka</h1>
      <a class="logo link" href="index.html">Filmoteka</a>
      <nav class="navigation">
        <ul class="menu__list list">
          <li class="menu__item">
            <a class="menu__link link current" href="index.html">Home</a>
          </li>
          <li class="menu__item">
            <a class="menu__link link" href="#">my library</a>
          </li>
        </ul>
        <form id="registration-form-js">
          <input type="text" name="email" />
          <input type="text" name="password" />
          <button type="submit">register</button>
        </form>
        <form id="signin-form-js">
          <input type="text" name="email" />
          <input type="text" name="password" />
          <button type="submit">sign in</button>
        </form>
        <button class="queue-btn-js" type="button">queue</button>
        <button class="watched-btn-js" type="button">watched</button>
        <button class="signout-btn-js" type="button">sign out</button>
      </nav>
    </div>
    <div class="form-container">
      <form class="search-form" action="">
        <label for="searchQuery" class="sr-only"></label>
        <input
          type="text"
          class="search"
          name="query"
          id="searchQuery"
          placeholder="Поиск фильмов"
          autocomplete="off"
        />
        <button class="button-search" type="submit">
          <img class="search-icon" src="./images/search@2x.png" alt="search icon" />
        </button>
      </form>
    </div>
  </div>
</header>
