<header class="header header-home">
  <div class="header__container">
    <div class="container">
      <div class="wrapper">
        <img class="icon-film" src="./images/film-icon.png" alt="film frame" />
        <h1 class="logo-img visually-hidden">Filmoteka</h1>
        <a class="logo link" id="logo" href="#">Filmoteka</a>
        <nav class="navigation">
          <ul class="menu__list list">
            <li class="menu__item">
              <!-- Вешаем класс current через js для подчеркивания текущей страницы -->
              <button class="menu__link btn-style js-menu__button current" id="home" type="button">
                Home
              </button>
            </li>
            <li class="menu__item">
              <!-- Вешаем класс current через js для подчеркивания текущей страницы -->
              <button class="menu__link btn-style js-menu__button" id="my-library" type="button">
                My library
              </button>
            </li>
          </ul>
          <div class="wrapper__exit sign-out__icon-js" id="sign-out">
            <svg class="exit-icon">
              <use href="./images/sprite.svg#icon-exit"></use>
            </svg>
            <button class="signout__btn signout-btn-js" type="button">Sign out</button>
          </div>
          <div class="dark-theme-wrapper">
            <button class="menu__link-theme-btn" id="theme-btn" type="button"></button>
          </div>
        </nav>
      </div>
      <div class="markup-wrapper">
        <!-- Динамически рендерим разметку хэдэра для Home -->
        <form class="search-form">
          <label for="searchQuery" class="sr-only"></label>
          <input
            class="search"
            type="text"
            name="query"
            id="searchQuery"
            placeholder="Movie search"
            autocomplete="off"
          />
          <button class="button-search" type="submit"></button>
        </form>
        <p class="error__text"></p>
        <!-- Динамически рендерим разметку хэдэра для My library -->
        <div class="btn-container__library visually-hidden">
          <ul class="btn-list list">
            <li class="btn-item">
              <button
                class="btn-liba button-watched watched-btn-js"
                id="btn-watched"
                type="submit"
                data-type="watched"
              >
                Watched
              </button>
            </li>
            <li class="btn-item">
              <button
                class="btn-liba button-queue queue-btn-js"
                id="btn-queue"
                type="submit"
                data-type="queued"
              >
                queue
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
