<div class="backdrop backdrop__is-hidden" data-modal-auth>
  <div class="auth-modal">
    <button class="modal__close-button" type="button" data-modal-auth-close></button>
    <p class="modal__appeal">Welcome</p>
    <form class="auth-form signin-form-js">
      <label class="auth-form__field">
        <span class="auth-form__wrapper">
          <input class="auth-form__input" type="email" name="email" placeholder="e-mail" required />
          <svg class="auth-form__icon" width="14" height="14">
            <use href="./images/sprite.svg#icon-mail"></use>
          </svg>
        </span>
      </label>
      <label class="auth-form__field">
        <span class="auth-form__wrapper">
          <input
            class="auth-form__input"
            type="password"
            name="password"
            placeholder="password"
            required
          />
          <svg class="auth-form__icon" width="18" height="18">
            <use href="./images/sprite.svg#icon-key_password"></use>
          </svg>
        </span>
      </label>
      <button class="btn" type="submit">
        <span>Sign in</span>
      </button>
    </form>
    <button type="button" class="auth-form__registration-appeal">Registration</button>
  </div>
</div>
