<div class="backdrop visually-hidden">
  <div class="team-modal">
    <button type="button" class="team__modal-close-btn">
      <!-- <svg class="team__modal-close-btn-icon" width="40" height="40">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg> -->
    </button>
    <h2 class="team__main-title">Our team</h2>
    <ul class="team__list list">
      <li class="team__item">
        <div class="team__img-container">
          <img class="team__img" src="./images/desktop/our-team/irina-karmazinova.jpg" alt="" />
        </div>
        <div class="team__content-wrapper">
          <h3 class="team__title">
            Irina <br />
            Karmazinova-Honcharenko
          </h3>
          <p class="team__position">Team Lead</p>
          <ul class="social-links list">
            <li class="social-links__item">
              <a href="" class="social-links__link link">
                <svg width="20" height="20" class="social-links__icon">
                  <use href="./images/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-links__item">
              <a href="" class="social-links__link link">
                <svg width="20" height="20" class="social-links__icon">
                  <use href="./images/sprite.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social-links__item">
              <a href="" class="social-links__link link">
                <svg width="20" height="20" class="social-links__icon">
                  <use href="./images/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-links__item">
              <a href="" class="social-links__link link">
                <svg width="20" height="20" class="social-links__icon">
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="team__item">
        <div class="team__img-container">
          <img class="team__img" src="./images/desktop/our-team/alona-mykytiuk.jpg" alt="" />
        </div>
        <div class="team__content-wrapper">
          <h3 class="team__title">
            Alona <br />
            Mykytiuk
          </h3>
          <p class="team__position">Scrum Master</p>
          <ul class="social-links list">
            <li class="social-links__item">
              <a href="" class="social-links__link link">
                <svg width="20" height="20" class="social-links__icon">
                  <use href="./images/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-links__item">
              <a href="" class="social-links__link link">
                <svg width="20" height="20" class="social-links__icon">
                  <use href="./images/sprite.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social-links__item">
              <a href="" class="social-links__link link">
                <svg width="20" height="20" class="social-links__icon">
                  <use href="./images/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-links__item">
              <a href="" class="social-links__link link">
                <svg width="20" height="20" class="social-links__icon">
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="team__item">
        <div class="team__img-container">
          <img class="team__img" src="./images/desktop/our-team/serhii-zvieriev.jpg" alt="" />
        </div>
        <div class="team__content-wrapper">
          <h3 class="team__title">
            Serhii <br />
            Zvieriev
          </h3>
          <p class="team__position">Developer</p>
          <ul class="social-links list">
            <li class="social-links__item">
              <a href="" class="social-links__link link">
                <svg width="20" height="20" class="social-links__icon">
                  <use href="./images/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-links__item">
              <a href="" class="social-links__link link">
                <svg width="20" height="20" class="social-links__icon">
                  <use href="./images/sprite.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social-links__item">
              <a href="" class="social-links__link link">
                <svg width="20" height="20" class="social-links__icon">
                  <use href="./images/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-links__item">
              <a href="" class="social-links__link link">
                <svg width="20" height="20" class="social-links__icon">
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team__item">
        <div class="team__img-container">
          <img class="team__img" src="./images/desktop/our-team/olga-rapita.jpg" alt="" />
        </div>
        <div class="team__content-wrapper">
          <h3 class="team__title">
            Olga <br />
            Rapita
          </h3>
          <p class="team__position">Developer</p>
          <ul class="social-links list">
            <li class="social-links__item">
              <a href="" class="social-links__link link">
                <svg width="20" height="20" class="social-links__icon">
                  <use href="./images/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-links__item">
              <a href="" class="social-links__link link">
                <svg width="20" height="20" class="social-links__icon">
                  <use href="./images/sprite.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social-links__item">
              <a href="" class="social-links__link link">
                <svg width="20" height="20" class="social-links__icon">
                  <use href="./images/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-links__item">
              <a href="" class="social-links__link link">
                <svg width="20" height="20" class="social-links__icon">
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="team__item">
        <div class="team__img-container">
          <img
            class="team__img"
            src="./images/desktop/our-team/oleksandr-andrushchyshyn.jpg"
            alt=""
          />
        </div>
        <div class="team__content-wrapper">
          <h3 class="team__title">Oleksandr Andrushchyshyn</h3>
          <p class="team__position">Developer</p>
          <ul class="social-links list">
            <li class="social-links__item">
              <a href="" class="social-links__link link">
                <svg width="20" height="20" class="social-links__icon">
                  <use href="./images/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-links__item">
              <a href="" class="social-links__link link">
                <svg width="20" height="20" class="social-links__icon">
                  <use href="./images/sprite.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social-links__item">
              <a href="" class="social-links__link link">
                <svg width="20" height="20" class="social-links__icon">
                  <use href="./images/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-links__item">
              <a href="" class="social-links__link link">
                <svg width="20" height="20" class="social-links__icon">
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="team__item">
        <div class="team__img-container">
          <img class="team__img" src="./images/desktop/our-team/anatoly-danets.jpg" alt="" />
        </div>
        <div class="team__content-wrapper">
          <h3 class="team__title">
            Anatoly <br />
            Danets
          </h3>
          <p class="team__position">Developer</p>
          <ul class="social-links list">
            <li class="social-links__item">
              <a href="" class="social-links__link link">
                <svg width="20" height="20" class="social-links__icon">
                  <use href="./images/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-links__item">
              <a href="" class="social-links__link link">
                <svg width="20" height="20" class="social-links__icon">
                  <use href="./images/sprite.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social-links__item">
              <a href="" class="social-links__link link">
                <svg width="20" height="20" class="social-links__icon">
                  <use href="./images/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-links__item">
              <a href="" class="social-links__link link">
                <svg width="20" height="20" class="social-links__icon">
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="team__item">
        <div class="team__img-container">
          <img class="team__img" src="./images/desktop/our-team/20210626_102933.jpg" alt="" />
        </div>
        <div class="team__content-wrapper">
          <h3 class="team__title">Oleksandr Shapovaliuk</h3>
          <p class="team__position">Developer</p>
          <ul class="social-links list">
            <li class="social-links__item">
              <a href="" class="social-links__link link">
                <svg width="20" height="20" class="social-links__icon">
                  <use href="./images/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-links__item">
              <a href="" class="social-links__link link">
                <svg width="20" height="20" class="social-links__icon">
                  <use href="./images/sprite.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social-links__item">
              <a href="" class="social-links__link link">
                <svg width="20" height="20" class="social-links__icon">
                  <use href="./images/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-links__item">
              <a href="" class="social-links__link link">
                <svg width="20" height="20" class="social-links__icon">
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="team__item">
        <div class="team__img-container">
          <img class="team__img" src="./images/desktop/our-team/vadym-polishchuk.jpg" alt="" />
        </div>
        <div class="team__content-wrapper">
          <h3 class="team__title">
            Vadym <br />
            Polishchuk
          </h3>
          <p class="team__position">Developer</p>
          <ul class="social-links list">
            <li class="social-links__item">
              <a href="" class="social-links__link link">
                <svg width="20" height="20" class="social-links__icon">
                  <use href="./images/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-links__item">
              <a href="" class="social-links__link link">
                <svg width="20" height="20" class="social-links__icon">
                  <use href="./images/sprite.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social-links__item">
              <a href="" class="social-links__link link">
                <svg width="20" height="20" class="social-links__icon">
                  <use href="./images/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-links__item">
              <a href="" class="social-links__link link">
                <svg width="20" height="20" class="social-links__icon">
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="team__item">
        <div class="team__img-container">
          <img class="team__img" src="./images/desktop/our-team/dmitriy-stasyuk.jpg" alt="" />
        </div>
        <div class="team__content-wrapper">
          <h3 class="team__title">
            Dmitriy <br />
            Stasyuk
          </h3>
          <p class="team__position">Developer</p>
          <ul class="social-links list">
            <li class="social-links__item">
              <a href="" class="social-links__link link">
                <svg width="20" height="20" class="social-links__icon">
                  <use href="./images/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-links__item">
              <a href="" class="social-links__link link">
                <svg width="20" height="20" class="social-links__icon">
                  <use href="./images/sprite.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social-links__item">
              <a href="" class="social-links__link link">
                <svg width="20" height="20" class="social-links__icon">
                  <use href="./images/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-links__item">
              <a href="" class="social-links__link link">
                <svg width="20" height="20" class="social-links__icon">
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
