<div class="backdrop backdrop__is-hidden">
  <div class="team-modal">
    <div class="team-modal__vrapper">
      <button type="button" class="team__modal-close-btn"></button>

      <h2 class="team__main-title">Team "Hackers Crew"</h2>

      <ul class="team__list list">
        <li class="team__item">
          <div class="team__img-container">
            <img
              class="team__img"
              src="./images/desktop/our-team/iryna-karmazinova.jpg"
              alt="Team Lead"
            />
          </div>
          <div class="team__content-wrapper">
            <h3 class="team__title iryna-title">
              Iryna <br />
              Karmazinova-Honcharenko
            </h3>
            <p class="team__position">Team Lead</p>
            <ul class="social-links list">
              <li class="social-links__item">
                <a
                  href="https://github.com/irynakarmazinova"
                  target="blank"
                  class="social-links__link link"
                >
                  <svg width="20" height="20" class="social-links__icon">
                    <use href="./images/sprite.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="social-links__item">
                <a href="" class="social-links__link link">
                  <svg width="20" height="20" class="social-links__icon">
                    <use href="./images/sprite.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="social-links__item">
                <a
                  href="https://www.linkedin.com/in/iryna-karmazinova-honcharenko-b11326208/"
                  target="blank"
                  class="social-links__link link"
                >
                  <svg width="20" height="20" class="social-links__icon">
                    <use href="./images/sprite.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="team__item">
          <div class="team__img-container">
            <img
              class="team__img"
              src="./images/desktop/our-team/alona-mykytiuk.jpg"
              alt="Scrum Master"
            />
          </div>
          <div class="team__content-wrapper">
            <h3 class="team__title">
              Alona <br />
              Mykytiuk
            </h3>
            <p class="team__position">Scrum Master</p>
            <ul class="social-links list">
              <li class="social-links__item">
                <a
                  href="https://github.com/cookiemonster1201"
                  target="blank"
                  class="social-links__link link"
                >
                  <svg width="20" height="20" class="social-links__icon">
                    <use href="./images/sprite.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="social-links__item">
                <a href="" class="social-links__link link">
                  <svg width="20" height="20" class="social-links__icon">
                    <use href="./images/sprite.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="social-links__item">
                <a
                  href="https://www.linkedin.com/in/alona-mykytiuk-9b1b21211/"
                  target="blank"
                  class="social-links__link link"
                >
                  <svg width="20" height="20" class="social-links__icon">
                    <use href="./images/sprite.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="team__item">
          <div class="team__img-container">
            <img
              class="team__img"
              src="./images/desktop/our-team/serhii-zvieriev.jpg"
              alt="Developer"
            />
          </div>
          <div class="team__content-wrapper">
            <h3 class="team__title">
              Serhii <br />
              Zvieriev
            </h3>
            <p class="team__position">Developer</p>
            <ul class="social-links list">
              <li class="social-links__item">
                <a
                  href="https://github.com/Serhii-Zvieriev"
                  target="blank"
                  class="social-links__link link"
                >
                  <svg width="20" height="20" class="social-links__icon">
                    <use href="./images/sprite.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="social-links__item">
                <a href="" class="social-links__link link">
                  <svg width="20" height="20" class="social-links__icon">
                    <use href="./images/sprite.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="social-links__item">
                <a
                  href="https://www.linkedin.com/in/zvieriev-serhii/"
                  target="blank"
                  class="social-links__link link"
                >
                  <svg width="20" height="20" class="social-links__icon">
                    <use href="./images/sprite.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="team__item">
          <div class="team__img-container">
            <img
              class="team__img"
              src="./images/desktop/our-team/olga-rapita.jpg"
              alt="Developer"
            />
          </div>
          <div class="team__content-wrapper">
            <h3 class="team__title">
              Olga <br />
              Rapita
            </h3>
            <p class="team__position">Developer</p>
            <ul class="social-links list">
              <li class="social-links__item">
                <a
                  href="https://github.com/rapita-olha"
                  target="blank"
                  class="social-links__link link"
                >
                  <svg width="20" height="20" class="social-links__icon">
                    <use href="./images/sprite.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="social-links__item">
                <a href="" class="social-links__link link">
                  <svg width="20" height="20" class="social-links__icon">
                    <use href="./images/sprite.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="social-links__item">
                <a href="" class="social-links__link link">
                  <svg width="20" height="20" class="social-links__icon">
                    <use href="./images/sprite.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="team__item">
          <div class="team__img-container">
            <img
              class="team__img"
              src="./images/desktop/our-team/oleksandr-andrushchyshyn.jpg"
              alt="Developer"
            />
          </div>
          <div class="team__content-wrapper">
            <h3 class="team__title">
              Oleksandr <br />
              Andrushchyshyn
            </h3>
            <p class="team__position">Developer</p>
            <ul class="social-links list">
              <li class="social-links__item">
                <a
                  href="https://github.com/OleksandrAndrushchyshyn"
                  target="blank"
                  class="social-links__link link"
                >
                  <svg width="20" height="20" class="social-links__icon">
                    <use href="./images/sprite.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="social-links__item">
                <a href="" class="social-links__link link">
                  <svg width="20" height="20" class="social-links__icon">
                    <use href="./images/sprite.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="social-links__item">
                <a href="" class="social-links__link link">
                  <svg width="20" height="20" class="social-links__icon">
                    <use href="./images/sprite.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="team__item">
          <div class="team__img-container">
            <img
              class="team__img"
              src="./images/desktop/our-team/anatoly-danets.jpg"
              alt="Developer"
            />
          </div>
          <div class="team__content-wrapper">
            <h3 class="team__title">
              Anatoly <br />
              Danets
            </h3>
            <p class="team__position">Developer</p>
            <ul class="social-links list">
              <li class="social-links__item">
                <a
                  href="https://github.com/AnatoliyDanets"
                  target="blank"
                  class="social-links__link link"
                >
                  <svg width="20" height="20" class="social-links__icon">
                    <use href="./images/sprite.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="social-links__item">
                <a href="" class="social-links__link link">
                  <svg width="20" height="20" class="social-links__icon">
                    <use href="./images/sprite.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="social-links__item">
                <a href="" class="social-links__link link">
                  <svg width="20" height="20" class="social-links__icon">
                    <use href="./images/sprite.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="team__item">
          <div class="team__img-container">
            <img
              class="team__img"
              src="./images/desktop/our-team/oleksandr-shapovaliuk.jpg"
              alt="Developer"
            />
          </div>
          <div class="team__content-wrapper">
            <h3 class="team__title">Oleksandr Shapovaliuk</h3>
            <p class="team__position">Developer</p>
            <ul class="social-links list">
              <li class="social-links__item">
                <a href="" class="social-links__link link">
                  <svg width="20" height="20" class="social-links__icon">
                    <use href="./images/sprite.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="social-links__item">
                <a href="" class="social-links__link link">
                  <svg width="20" height="20" class="social-links__icon">
                    <use href="./images/sprite.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="social-links__item">
                <a href="" class="social-links__link link">
                  <svg width="20" height="20" class="social-links__icon">
                    <use href="./images/sprite.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="team__item">
          <div class="team__img-container">
            <img
              class="team__img"
              src="./images/desktop/our-team/vadym-polishchuk.jpg"
              alt="Developer"
            />
          </div>
          <div class="team__content-wrapper">
            <h3 class="team__title">
              Vadym <br />
              Polishchuk
            </h3>
            <p class="team__position">Developer</p>
            <ul class="social-links list">
              <li class="social-links__item">
                <a href="https://github.com/Vadym-P" target="blank" class="social-links__link link">
                  <svg width="20" height="20" class="social-links__icon">
                    <use href="./images/sprite.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="social-links__item">
                <a href="" class="social-links__link link">
                  <svg width="20" height="20" class="social-links__icon">
                    <use href="./images/sprite.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="social-links__item">
                <a
                  href="https://www.linkedin.com/in/vadym-polishchuk-bb5040212"
                  target="blank"
                  class="social-links__link link"
                >
                  <svg width="20" height="20" class="social-links__icon">
                    <use href="./images/sprite.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="team__item">
          <div class="team__img-container">
            <img
              class="team__img"
              src="./images/desktop/our-team/dmitriy-stasyuk.jpg"
              alt="Developer"
            />
          </div>
          <div class="team__content-wrapper">
            <h3 class="team__title">
              Dmitriy <br />
              Stasyuk
            </h3>
            <p class="team__position">Developer</p>
            <ul class="social-links list">
              <li class="social-links__item">
                <a
                  href="https://github.com/Dimon-Stasyuk"
                  target="blank"
                  class="social-links__link link"
                >
                  <svg width="20" height="20" class="social-links__icon">
                    <use href="./images/sprite.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="social-links__item">
                <a href="" class="social-links__link link">
                  <svg width="20" height="20" class="social-links__icon">
                    <use href="./images/sprite.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="social-links__item">
                <a href="" class="social-links__link link">
                  <svg width="20" height="20" class="social-links__icon">
                    <use href="./images/sprite.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
