.backdrop{
    position: fixed;    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);     
    opacity: 1;
    transition: opacity 400ms cubic-bezier(0.4, 0, 0.2, 1);
    &-is-hiden{
        opacity: 0;
    }    
}

