body {
  background: white;
  transition: all 250ms;
}

.dark-theme {
  background: rgba(0, 0, 0, 0.9);

  .movie-modal {
    background-color: black;
  }

  .team__item {
    border: 1px solid;
    border-color: rgba(255, 107, 1, 0.5);
  }

  .gallery__title,
  .footer__container {
    color: $primary-color;
  }

  .menu__link-theme-btn-icon {
    fill: $accent-color;
    transition: all 250ms;
  }

  .team-modal {
    background-color: black;
    box-shadow: 0 0 30px $accent-color;
    padding: 0;
  }

  .team-modal__vrapper {
    background-color: rgba(254, 253, 227, 0.8);
    padding: 40px;
  }

  .movie-modal__wrapper {
    background-color: rgba(254, 253, 227, 0.8);
    box-shadow: 0 0 30px $accent-color;
  }

  .team__content-wrapper {
    background-color: rgba(255, 255, 240, 0.1);
  }

  .gallery__item {
    transform: scale(1);
    transition: all 150ms linear;
    &:hover {
      box-shadow: rgb(255 107 5) 5px 5px 30px;
      transform: scale(1.03);
    }
  }

  .social-links__icon {
    fill: $accent-color;
  }

  .movie-modal__characteristic-label {
    color: $accent-color;
  }

  .menu__link-theme-btn {
    background: url('/images/moon.svg');
    background-size: contain;
    width: 20px;
    height: 20px;
    padding: 0;
    border: none;
  }
}

.wrapper {
  position: relative;
}

.dark-theme-wrapper {
  position: absolute;
  left: 35%;
  bottom: -9%;

  @media screen and(min-width: 768px) {
    left: 70%;
    bottom: 0%;
  }

  @media screen and(min-width: 1024px) {
    left: 79.4%;
    bottom: -2%;
  }
}
