.basicLightbox {
  overflow-y: scroll;

  &__placeholder {
       height: 100%;
      @media screen and (min-width: 768px) {
        height:unset;
      }
  }
}

.movie-modal {
   padding: 20px;
      overflow: auto;
      -ms-overflow-style: none;
      scrollbar-width: none;
  &__btn-close {
    position: absolute;
    top: 18px;
    right: 18px;
    width: 14px;
    height: 14px;
    border: none;
    background-color: transparent;
    background-image: url('../images/close.svg');
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: center;
    transition: transform 300ms ease;

    &:hover {
      transform: rotate(180deg);
    }
      &::-webkit-scrollbar {
      width: 0;
      height: 0;
}
  }

  &__wrapper {
    position: relative;
    max-width: 280px;
    padding: 48px 20px 41px;
    border-radius: 5px;
    background-color: $primary-color;

    @media screen and (min-width: 768px) {
      display: flex;
      max-width: 618px;
      padding: 40px 30px;
    }
    @media screen and (min-width: 1024px) {
      max-width: 882px;
      padding: 50px 30px 40px;
   
    }
  }

  &__trailer {
    max-width: 100%;
  }

  &__img-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    border-radius: 5px;

    // overflow: hidden;

    @media screen and (min-width: 768px) {
      flex-basis: calc(50% - 15px);
      margin-right: 30px;
      margin-bottom: 0;
    }
  }

  &__img {
    width: 240px;
    @media screen and (min-width: 768px) {
      width: 264px;
      height: 374px;
    }
    @media screen and (min-width: 1024px) {
      width: 396px;
      height: auto;
    }
  }

  &__info {
    flex-basis: calc(50% - 15px);
  }

  &__title {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.15;
    color: $secondary-color;
    text-transform: uppercase;
    @media screen and (min-width: 1024px) {
      font-size: 30px;
    }
  }

  &__characteristics {
    margin-bottom: 20px;
  }

  &__characteristic {
    display: flex;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__characteristic-label {
    width: 50%;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    color: $modal-text-color;
  }

  &__characteristic-value,
  &__characteristic-genre {
    width: 50%;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    color: $secondary-color;
  }

  &__vote-average,
  &__vote-count {
    display: inline-flex;
    padding: 1px 10px;
    border-radius: 5px;
  }

  &__vote-average {
    background-color: $accent-color;
    color: $primary-color;
  }

  &__vote-count {
    background-color: $background-color;
  }

  &__desc {
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-bottom: 21px;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.67;
    color: $secondary-color;
    width: 240;
    height: 236px;
     @media screen and (min-width:768px) {
       width: 264px;
      height: 236px;
    }
    @media screen and (min-width:1024px) {
      width: 396px;
      height: 160px;
    }
  }
  &__desc::-webkit-scrollbar {
      width: 0;
      height: 0;
}

  &__desc-label {
    margin-bottom: 10px;

    line-height: 1.33;
    text-transform: uppercase;
  }

  &__buttons {
    display: flex;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 136px;
    min-height: 44px;
    flex-basis: calc(50% - 7.5px);
    padding: 8px;
    border: 1px solid $secondary-color;
    border-radius: 5px;
    background-color: transparent;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    text-transform: uppercase;
    color: $secondary-color;
    transition: color 250ms linear, background-color 250ms linear;
    &--active {
      margin-right: 15px;
      border: none;
      border-radius: 5px;
      background-color: $accent-color;

      color: $primary-color;
    }
    &:focus{
      outline: 0px;
    }
    &:hover{
       background-color: $accent-color;
        color: $primary-color;
        border: unset;

    }
    &:not(:last-child){
      margin-right: 5px;
    }
  }
}

