.social-links {
  margin-top: 17px;
  @include flex-center;

  &__item {
    align-items: center;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__link {
    @include flex-center;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
      outline: 0;
    }
    &:hover {
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      background-color: $accent-color;
    }
  }

  &__icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: $modal-text-color;
    width: 20px;
    height: 20px;

    .social-links__link:focus & {
      outline: 0;
    }
    .social-links__link:hover & {
      fill: $primary-color;
    }
  }
}

.telegram {
  position: fixed;
  bottom: 75px;
  right: 5px;

  @media screen and (min-width: 768px) {
    right: 25px;
  }

  &__icon {
    width: 33px;
    height: 33px;
  }
}
