.footer {
  padding-top: 28.7px;
  padding-bottom: 29.7px;

  @include flex-center;

  @media screen and (min-width: 768px) {
    padding-top: 30px;
    padding-bottom: 28px;
  }

  &__container {
    max-width: 236px;
    text-align: center;
    @include font(400, 14px, 16px, 0em);

    color: $footer-text-color;

    @media screen and (min-width: 768px) {
      max-width: 482px;
      @include font(400, 16px, 19px, 0em);
    }

    @media screen and (min-width: 1280px) {
    }
  }

  &__text-copyright {
    margin-bottom: 9.9px;

    @media screen and (min-width: 768px) {
      display: inline;
      margin-bottom: 0;
    }
  }

  &__box-developed {
    @media screen and (min-width: 768px) {
      display: inline;
    }
  }

  &__icon-heart {
    fill: $accent-color;
    margin: 0 10px 0 10px;
  }

  &__text-developed {
    display: inline;
  }

  &__link {
    color: inherit;
  }
}

// стили для сердечка
.heart {
  animation: heartbeat 1s infinite;
  background-color: $accent-color;
  display: inline-block;
  height: 10px;
  margin: 0 10px;

  transform: rotate(-45deg);

  left: 45%;
  top: 45%;
  width: 10px;
}

.heart:before,
.heart:after {
  content: '';
  background-color: $accent-color;
  border-radius: 50%;
  height: 10px;
  position: absolute;
  width: 10px;
}

.heart:before {
  top: -5px;
  left: 0;
}

.heart:after {
  left: 5px;
  top: 0;
}

@keyframes heartbeat {
  0% {
    transform: scale(1) rotate(-45deg);
  }
  20% {
    transform: scale(1.25) rotate(-45deg);
  }
  40% {
    transform: scale(1.5) rotate(-45deg);
  }
}
