.header {
  position: relative;
  height: 230px;
  min-width: 320px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.56);

  @media screen and (max-width: 767px) {
    max-width: 320px;
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1024px;
  }
}

.header__container {
  position: absolute;
  height: 230px;
  min-width: 320px;
  margin-left: -20px;
  background-image: url('../images/mobile/rectangle@1x.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url('../images/mobile/rectangle@2x.jpg');
  }

  @media screen and (min-width: 768px) {
    min-width: 768px;
    margin-left: -71px;
    background-image: url('../images/tablet/rectangle@1x.jpg');

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/tablet/rectangle@2x.jpg');
    }
  }

  @media screen and (min-width: 1200px) {
    min-width: 1024px;
    background-image: url('../images/desktop/rectangle@1x.jpg');

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/desktop/rectangle@2x.jpg');
    }
  }
}

.wrapper {
  display: flex;
  align-items: baseline;
  padding-left: 1px;
  padding-top: 46px;
  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    padding-left: -1px;
    padding-top: 40px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 38px;
  }
}

.icon-film {
  width: 24px;
  height: 24px;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    margin-right: 10px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 12px;
  }
}

.logo {
  display: none;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    display: block;
    @include font(500, 30px, 35px, 0em);
    padding-bottom: 3px;
    color: $primary-color;
    transform: translateY(-2px);
  }
}

.menu__list {
  @include flex-center;

  @media screen and (min-width: 768px) {
    margin-right: 5px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 0;
  }
}

.menu__item:not(:last-child) {
  margin-right: 39px;
}

.menu__link {
  @include font(500, 12px, 14px, 0em);
  text-transform: uppercase;
  color: $primary-color;
}

.current::after {
  display: block;
  content: '';
  height: 3px;
  background-color: $accent-color;
}

.search {
  @include flex-center;
  margin: 0 auto;
  width: 280px;
  background-color: transparent;
  border: none;
  border-bottom: 0.5px solid $primary-color;
  padding-bottom: 4px;

  &::placeholder {
    font-family: $primary-font;
    @include font(400, 14px, 16px, 0em);
    color: $primary-color;
  }

  @media screen and (min-width: 768px) {
    width: 336px;
  }
}

.button-search {
  position: relative;
  border: none;
  background-color: transparent;
  transform: translate(262px, -34px);

  @media screen and (min-width: 768px) {
    transform: translate(463px, -34px);
  }

  @media screen and (min-width: 1200px) {
    transform: translate(590px, -33px);
  }
}

.search-icon {
  position: absolute;
  width: 12px;
  height: 12px;
}
