.header {
  position: relative;
  height: 230px;
  max-width: 320px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.56);
}

.header__container {
  position: absolute;
  height: 230px;
  background-image: url('../images/mobile/rectangle@1x.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .header__container {
    background-image: url('../images/mobile/rectangle@2x.jpg');
  }
}

.wrapper {
  display: flex;
  align-items: baseline;
  padding-left: 21px;
  padding-top: 46px;
  margin-bottom: 40px;
}

.icon-film {
  width: 24px;
  height: 24px;
  margin-right: auto;
}

.logo {
  display: none;
  margin-right: auto;
}

.menu__list {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.menu__item:not(:last-child) {
  margin-right: 39px;
}

.menu__link {
  font-family: $primary-font;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;
  color: $primary-color;
}

.current::after {
  display: block;
  content: '';
  height: 3px;
  background-color: $accent-color;
}

.search {
  display: block;
  margin: 0 auto;
  width: 280px;
  background-color: transparent;
  border: none;
  border-bottom: 0.5px solid $primary-color;
  padding-bottom: 4px;

  &::placeholder {
    font-family: $primary-font;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    color: $primary-color;
  }
}

.form {
  display: flex;
  align-items: center;
}

.button-search {
  position: relative;
  border: none;
  background-color: transparent;
  transform: translate(-32px, -4px);
}

.search-icon {
  position: absolute;
  width: 12px;
  height: 12px;
}

@media screen and (min-width: 768px) {
  .header {
    max-width: 768px;
  }

  .wrapper {
    padding-left: 71px;
  }

  .icon-film {
    margin-right: 10px;
  }

  .logo {
    display: block;
    font-family: $primary-font;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.17;
    padding-bottom: 3px;
    color: $primary-color;
  }

  .menu__list {
    margin-right: 76px;
  }

  .search {
    width: 336px;
  }

  .button-search {
    transform: translate(-228px, -4px);
  }

  .header__container {
    background-image: url('../images/tablet/rectangle@1x.jpg');
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .header__container {
      background-image: url('../images/tablet/rectangle@2x.jpg');
    }
  }
}

@media screen and (min-width: 1200px) {
  .header {
    max-width: 1024px;
  }

  .icon-film {
    margin-right: 12px;
  }

  .menu__list {
    margin-right: 71px;
  }

  .button-search {
    transform: translate(-356px, -4px);
  }

  .header__container {
    background-image: url('../images/desktop/rectangle@1x.jpg');
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .header__container {
      background-image: url('../images/desktop/rectangle@2x.jpg');
    }
  }
}
