

.team{ 
    &__main-title{
        @include font(500, 30px, 35px, 0.03em); 
        margin-bottom: 20px;        
        text-align: center;
    }    
    &__content-wrapper{
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;      
    }

    &__list{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-left: -30px;
        margin-top: -30px;
    }

    &__list-item{  
        transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transform: scale(1);      
        overflow: hidden;
        margin-left: 30px;
        margin-top: 30px;    
        border-radius: 6px;   
        box-shadow: 5px 9px 30px 0 rgb(0 0 0 / 19%);
         
        

        &:hover{
            transform: scale(1.05); 
            box-shadow: 5px 9px 30px 0 rgb(255 107 1 / 30%);            
        }

        @media screen and (min-width: 768px) {
        flex-basis: calc(100% / 3 - 30px);
        
        }
        @media screen and (min-width: 1024px) {
        flex-basis: calc(100% / 5 - 30px);
        }
    }

    &__title{
        @include font(500, 18px, 20px, 0.03em);
        margin-bottom: 10px;        
    }
    &__position{        
        @include font(400, 16px, 20px, 0.03em);     
        color: $accent-color;
    }

    &__modal-close-btn{ 
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
        background: #ffffff;    
        border: none;   
        
        &-icon{
            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
            &:hover{
                fill: $accent-color;
            }
        }
    }
}